### Unattended Installation
d-i auto-install/enable boolean false
d-i debconf/priority select critical
### Localization
d-i debian-installer/locale string fr_FR
d-i console-setup/ask_detect boolean false
d-i keyboard-configuration/layoutcode string fr
d-i keyboard-configuration/xkb-keymap select fr(latin9)
### Network configuration
d-i /choose_interface select auto
### Mirror settings
d-i mirror/country string manual
d-i mirror/http/hostname string archive.ubuntu.com
d-i mirror/http/directory string /ubuntu
d-i mirror/http/proxy string
### Account setup
d-i passwd/user-fullname string ubuntu
d-i passwd/username string ubuntu
d-i user-setup/encrypt-home boolean false
d-i passwd/user-password-crypted password $6$.8i8aSHWbx7$ZJR49tC6isnY/FZH2yTtyUWrYw.2lACD1KYKZDweeS9IxcmDAZSuhAYgQZzgw7oOxhBNfpO.q6nltVEoCG5XH.
### Clock and time zone setup
d-i clock-setup/utc boolean true
d-i time/zone string UTC
d-i clock-setup/ntp boolean true
# LG provided NTP, should be replaced!
d-i clock-setup/ntp-server string fr.pool.ntp.org
### Stockage
d-i finish-install/reboot_in_progress note
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true
d-i partman-auto/disk string /dev/sda
d-i partman-auto-lvm/guided_size string max
d-i partman-auto/choose_recipe select atomic
d-i partman-auto/method string lvm
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-lvm/device_remove_lvm boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman/confirm_write_new_label boolean true

### Base system installation
d-i base-installer/install-recommends boolean true
d-i debconf debconf/frontend select Noninteractive

### Packages
d-i tasksel/first multiselect none
d-i pkgsel/upgrade select full-upgrade
d-i pkgsel/update-policy select unattended-upgrades
d-i pkgsel/include string openssh-server fail2ban python3 cryptsetup build-essential linux-source dkms net-tools

# d-i debian-installer/splash boolean false
# d-i cdrom-detect/eject boolean true

# ### Shutdown machine
# d-i finish-install/reboot_in_progress note
# d-i debian-installer/exit/poweroff boolean true
